
<div class="card border space">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="name">Product Variant</div>
    </div>
    <div class="content" fxLayout="column">
        <div fxFlex="100%" fxFlex.gt-sm>
            <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="20px" *ngFor="let attr of attributeLists; let i = index">
                <mat-form-field fxFlex.gt-sm="40" fxFlex.xs="100">
                    <input matInput placeholder="Attribute Name" type="text" [(ngModel)]="attr.name" #ctrl="ngModel" required>
                </mat-form-field>

                <mat-form-field fxFlex.gt-sm="50" fxFlex.xs="100">
                    <input matInput placeholder="Attribute Value" type="text" [(ngModel)]="attr.values" #ctrl="ngModel" required>
                </mat-form-field>

                <div class="div-center" *ngIf="(i == (attributeLists.length -1))" fxLayoutGap.gt-sm="5px" style="padding-top: 20px;">
                    <button mat-icon-button matTooltip="Add Attribute" (click)="addAttributes()"><mat-icon>add</mat-icon></button>
                    <button mat-icon-button matTooltip="Remove Attribute" (click)="removeAttributes(i)" *ngIf="i > 0"><mat-icon>delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>