

<h4 class="form-title">Create Location with Name and Identification</h4>

<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center" fxLayoutGap="24px">
    <div class="form-theming" fxFlex="100%" fxFlex.gt-sm>
        <div class="content" fxLayout="column">
            <div class="result" fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
					<div fxFlex.gt-sm  [style.margin-top]="'15px'">
						<label>Level 1</label>
					</div>
					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Name</mat-label>
					  	<input matInput placeholder="Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Number of Locations</mat-label>
					  	<input matInput placeholder="Number of Locations" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>String Name</mat-label>
					  	<input matInput placeholder="String Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Delimiter</mat-label>
					  	<input matInput placeholder="Delimiter" type="text">
					</mat-form-field>
				</div>

				<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
					<div fxFlex.gt-sm  fxFlex.gt-sm  [style.margin-top]="'15px'">
						<label>Level 3</label>
					</div>
					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Name</mat-label>
					  	<input matInput placeholder="Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Number of Locations</mat-label>
					  	<input matInput placeholder="Number of Locations" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>String Name</mat-label>
					  	<input matInput placeholder="String Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Delimiter</mat-label>
					  	<input matInput placeholder="Delimiter" type="text">
					</mat-form-field>
				</div>

				<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
					<div fxFlex.gt-sm  fxFlex.gt-sm  [style.margin-top]="'15px'">
						<label>Level 3</label>
					</div>
					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Name</mat-label>
					  	<input matInput placeholder="Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Number of Locations</mat-label>
					  	<input matInput placeholder="Number of Locations" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>String Name</mat-label>
					  	<input matInput placeholder="String Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Delimiter</mat-label>
					  	<input matInput placeholder="Delimiter" type="text">
					</mat-form-field>
				</div>

				<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="16px">
					<div fxFlex.gt-sm  fxFlex.gt-sm  [style.margin-top]="'15px'">
						<label>Level 4</label>
					</div>
					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Name</mat-label>
					  	<input matInput placeholder="Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Number of Locations</mat-label>
					  	<input matInput placeholder="Number of Locations" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>String Name</mat-label>
					  	<input matInput placeholder="String Name" type="text">
					</mat-form-field>

					<mat-form-field color="primary" fxFlex.gt-sm  appearance="fill">
						<mat-label>Delimiter</mat-label>
					  	<input matInput placeholder="Delimiter" type="text">
					</mat-form-field>
				</div>
            </div>
        </div>
    </div>
</div>
<div align="end">
    <button mat-button color="primary" mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" cdkFocusInitial>CREATE LOCATION</button>
</div>
