<div fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
	<div class="register mat-elevation-z12">
		<div class="register-header" fxLayout="column" fxLayoutAlign="center center">
			<img class="logo" src="assets/img/logo2x.png">
		</div>

		<form [formGroup]="frmSignup" (ngSubmit)="changePass()">
			<div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
				<mat-form-field>
					<input matInput 
					placeholder="New Password" 
					type="password" formControlName="password"
					autocomplete="new-password">
				</mat-form-field>

				<div fxLayout="column" fxLayoutAlign="start baseline" style="padding-bottom: 1em;">
					<label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
					  <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
						frmSignup.controls['password'].hasError('minlength') ? 'cancel' :
						'check_circle' }}</i>
					  Must be at least 8 characters!
					</label>
					<label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
					  <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
						frmSignup.controls['password'].hasError('hasNumber') ? 'cancel' :
						'check_circle' }}</i>
					  Must contain at least 1 number!
					</label>
					<label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
					  <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
						frmSignup.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
						'check_circle' }}</i>
					  Must contain at least 1 in Capital Case!
					</label>
					<label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
					  <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
						frmSignup.controls['password'].hasError('hasSmallCase') ? 'cancel' :
						'check_circle' }}</i>
					  Must contain at least 1 Letter in Small Case!
					</label>
					<label class="col" [ngClass]="frmSignup.controls['password'].hasError('required') || frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
					  <i class="material-icons">{{ frmSignup.controls['password'].hasError('required') ||
						frmSignup.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
						'check_circle' }}</i>
					  Must contain at least 1 Special Character!
					</label>
				</div>

				<mat-form-field>
					<input matInput 
					placeholder="Repeat New Password" 
					type="password" formControlName="confirmPassword" 
					autocomplete="new-password">
				</mat-form-field>
				
				<div class="form-group">
					<label class="text-danger" *ngIf="frmSignup.controls['confirmPassword'].hasError('NoPassswordMatch')">
					  Password do not match
					</label>
				</div>
				<button color="primary" mat-raised-button [disabled]="frmSignup.invalid" type="submit">CHANGE PASSWORD</button>
			</div>
		</form>
		

	</div>
</div>
