

<div class="elastic">
	<elastic-list name="Location" [columns]="columns" (filterChange)="onFilterChange($event)">
		<div class="extra-actions" fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="0px">
			
			<div fxFlex="13%">
				<section class="checkbox" no-margin no-padding>
					<!-- <mat-checkbox class="example-margin" color="primary" 
						[(ngModel)]="checked" [(indeterminate)]="indeterminate"
						[labelPosition]="labelPosition" 
						[disabled]="disabled" 
						no-margin no-padding>
					</mat-checkbox> -->
					<mat-checkbox class="example-margin" color="primary" no-margin no-padding></mat-checkbox>
					<button mat-icon-button [matMenuTriggerFor]="menu" aria-label="expand_more" no-margin no-padding>
						<mat-icon>expand_more</mat-icon>
					</button>
					<mat-menu #menu="matMenu">
						<button mat-menu-item>
							<span>Select All</span>
						</button>
						<button mat-menu-item>
							<span>Show Latest</span>
						</button>
						<button mat-menu-item>
							<span>Add to Group</span>
						</button>
					</mat-menu>
				</section>
			</div>
			
			<div fxFlex="47%">
				<button matTooltip="Print File" mat-icon-button color="primary">
					<mat-icon>local_printshop</mat-icon>
				</button>
				<button matTooltip="Download File" mat-icon-button color="primary">
					<mat-icon>file_download</mat-icon>
				</button>
				<button matTooltip="Upload File" mat-icon-button color="primary">
					<mat-icon>file_upload</mat-icon>
				</button>
				<button matTooltip="Add To Group" mat-icon-button color="primary">
					<mat-icon>add_to_photos</mat-icon>
				</button>
				<button matTooltip="Delete" mat-icon-button color="primary">
					<mat-icon>delete</mat-icon>
				</button>
			</div>

			<div fxFlex="30%">
				<button class="create" (click)="editLocation(formData)" mat-raised-button color="primary">
					ADD NEW LOCATION
				</button>
			</div>

			
		</div>

		<div class="actions" fxFlexAlign="center">
			<button class="create" (click)="editLocation(formData)" type="button" mat-mini-fab color="primary">
				<mat-icon>add</mat-icon>
			</button>
		</div>

		<mat-table #table [dataSource]="dataSource" matSort>
			<ng-container matColumnDef="checkbox">
				<mat-header-cell class="actions-cell" *matHeaderCellDef></mat-header-cell>
				<mat-cell class="actions-cell" *matCellDef="let row">
					<mat-checkbox color="primary" (click)="$event.stopPropagation()"></mat-checkbox>
				</mat-cell>
			</ng-container>

			<ng-container class="checkbox1" *ngFor="let column of columns">
				<ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ column.name }}</mat-header-cell>
					<mat-cell *matCellDef="let row"> {{ row[column.property] }}</mat-cell>
				</ng-container>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header></mat-header-cell>
				<mat-cell class="actions-cell" *matCellDef="let row">
					<button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
					<mat-icon>more_horiz</mat-icon>
					</button>

					<mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
					<button (click)="editLocation(row)" mat-menu-item>
						<span>Modify</span>
					</button>
					<button (click)="deleteLocation(row)" mat-menu-item>
						<span>Delete</span>
					</button>
					</mat-menu>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: visibleColumns;" (click)="editLocation(row)" class="clickable">
			</mat-row>
		</mat-table>
		<mat-paginator class="paginator" 
			[pageIndex]="0"
			[pageSizeOptions]="[5, 10, 25, 100]"
			[length]="resultsLength" 
			[pageSize]="pageSize">
		</mat-paginator>
	</elastic-list>
</div>
