.list {
    position: fixed;
}
.mat-header{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding-left: 16px;
    margin-bottom: 0px;
}
.mat-list-base .mat-subheader {
    height: 0px!important;
}
.page.components .sticky-menu .list .active{
    background-color: #dbdbdb!important;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    border: none;
}