
@import "../../../../../styles/_var.scss";

.location-default-address{
    .mat-form-field{
        width: 92%!important;
        font-size: 13px;
    }
    .mat-select{
        .mat-form-field{
            width: 94%!important;
            font-size: 13px;
        }
    }
    @media screen and (max-width: 992px) {
        .mat-select{
            .mat-form-field{
                width: 94%!important;
            }
        }
    }
    @media screen and (max-width: 600px) {
        .mat-select{
            .mat-form-field{
                width: 92%!important;
            }
        }
    }
    ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper{
        padding-bottom: 1em!important;
        margin-left: 15px!important;
    }
    .white-bold{
        font-weight: bold;
        font-size: 600;
    }
    .btn-group .btn-default{
        border:1px solid #ddd!important;
    }
    .left-align{
        text-align: left;
    }
    .center-align{
        text-align: center;
    }
    .right-align{
        text-align: right;
    }
    .btn-group :hover{
        border: navy;
    }
    
    .lbl-footer{
        font-size: 14px!important;
        color: rgba(0, 0, 0, 0.54)!important;
    }
    #div_preview span{
        color: rgba(0, 0, 0, 0.54)!important;
    }
    .div-right-end{
        margin-top: 0rem;
    }
}
