@import "../../../../styles/var";

.card{
	.location-type{
		p{
			margin: 0!important;
			font-size: 12px!important;
			color:#616161 !important;
		}
		.mat-form-field{
			width: 100%!important;
			font-size: 13px;
		}
		.list-container {
			margin: 02px;
			.list {
				margin: 24px;
			}
			mat-list {
				padding-top: 0;
				max-width: 100%;
			}
			.mat-toolbar-row, .mat-toolbar-single-row{
				height: 50px!important;
			}
		}
		.div-right-end{
			margin-top: 0px;
		}
	}
	mat-icon.left-right-compare {
		text-shadow: 0px 0px 20px #444;
		font-size: 60px;
		width: 60px;
		height: 60px;
		color: white;
	}
	
	.small-list-item {
		padding-left: 6px;
		padding-right: 16px;
	}
	
	.draggable {
		cursor: move;
		cursor: -webkit-grabbing;
	}
	
	.drag-handle {
		cursor: move;
		cursor: -webkit-grabbing;
		vertical-align: middle;
		margin-right: 8px;
	}
	
	.sortable-ghost {
		opacity: .5;
	}
}