<div class="card alternative">
	<mat-tab-group class="form-wizard" [(selectedIndex)]="selectedIndex" animationDuration="0ms">
        <mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Business Information</span>
				</div>
			</ng-template>
			<app-business-information *ngIf="selectedIndex == 0"></app-business-information>
        </mat-tab>
        <mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Owner's Contact Information</span>
				</div>
			</ng-template>
			<app-owner-information *ngIf="selectedIndex == 1"></app-owner-information>
        </mat-tab>
	</mat-tab-group>
</div>