
<div class="elastic contact-type">
	<elastic-list name="" [columns]="columns" (filterChange)="onFilterChange($event)">
		<mat-table #table [dataSource]="dataSource" matSort>
            <ng-container matColumnDef="is_active">
				<mat-header-cell *matHeaderCellDef fxFlex="10%">
					<mat-checkbox color="primary" (change)="$event ? masterToggle() : null"
									[checked]="selection.hasValue() && isAllSelected()"
									[indeterminate]="selection.hasValue() && !isAllSelected()">
					</mat-checkbox>
				</mat-header-cell>
				<mat-cell *matCellDef="let row" fxFlex="10%">
					<mat-checkbox color="primary" (click)="$event.stopPropagation()"
									(change)="singleChkClick(row)"
									[checked]="row.is_active">
					</mat-checkbox>
				</mat-cell>
            </ng-container>
            
			<ng-container class="checkbox1" *ngFor="let column of columns">
				<ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
					<mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="column.width"> {{ column.name }}</mat-header-cell>
					<mat-cell *matCellDef="let row" [fxFlex]="column.width"> {{ row[column.property] }}</mat-cell>
				</ng-container>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header fxFlex="10%">Action</mat-header-cell>
				<mat-cell class="actions-cell" *matCellDef="let row" fxFlex="10%">
					<button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
						<mat-icon>more_horiz</mat-icon>
					</button>

					<mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
						<button (click)="singleSetActive(row,true)" mat-menu-item [disabled]="row.is_active">
							<span>Set as Active</span>
						</button>
						<button (click)="singleSetActive(row,false)" mat-menu-item [disabled]="!row.is_active">
							<span>Set As Inactve</span>
						</button>
					</mat-menu>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: visibleColumns;" [ngClass]="{'inactive': !row.is_active}"></mat-row>
		</mat-table>

        <mat-paginator class="paginator" [pageSizeOptions]="[10, 20, 50,100]" showFirstLastButtons></mat-paginator>
        
	</elastic-list>

	<div fxLayout="row" fxLayoutAlign="start baseline" align="end" style="margin-top: 15px;">
		<div fxFlex>
			<button mat-raised-button (click)="setActive()" color="primary">SAVE</button>
		</div>
	</div>
</div>