<div class="card alternative">
	<mat-tab-group class="form-wizard" [(selectedIndex)]="selectedIndex" animationDuration="0ms">
		<mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Contact Type</span>
				</div>
			</ng-template>
			<erp-contact-type *ngIf="selectedIndex == 0"></erp-contact-type>
		</mat-tab>

        <mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Contact Sub Group</span>
				</div>
			</ng-template>
			<erp-contact-subgroup-list *ngIf="selectedIndex == 1"></erp-contact-subgroup-list>
		</mat-tab>
        <mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Contact</span>
				</div>
			</ng-template>
			<erp-contact-list *ngIf="selectedIndex == 2"></erp-contact-list>
		</mat-tab>
		
		<mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>CRM</span>
				</div>
			</ng-template>
			<erp-contact-crm *ngIf="selectedIndex == 3"></erp-contact-crm>
		</mat-tab>
		
		<mat-tab>
			<ng-template mat-tab-label>
				<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
					<span>Emails</span>
				</div>
			</ng-template>
			<erp-contact-list *ngIf="selectedIndex == 4"></erp-contact-list>
        </mat-tab>
	</mat-tab-group>
</div>