<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form" class="mat-typography">
    <mat-form-field>
        <mat-label>Product Category</mat-label>
        <mat-select formControlName="parentId">
            <mat-option *ngFor="let l of list" [value]="l.id">
                {{l.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>CANCEL</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="save()">{{btnTitle}}</button>
</mat-dialog-actions>