
<div class="card border space">
    <div class="content sales-cost-price" fxLayout="row">
        <div fxFlex="100%">

            <div fxLayout="row">
                <div fxFlex="60%" fxFlexOffset="20%">
                    <p style="text-align: center;">Select Payment Term</p>
                    <p class="info-msg">Drag the payment term name from The List to My Payment Term</p>
                    <div class="list-container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center">
                        <div class="list mat-elevation-z4">
                            <mat-toolbar>Default Payment Terms</mat-toolbar>
                            <mat-list [sortablejs]="contactTypeList" [sortablejsOptions]="groupOptions">
                                <mat-list-item class="small-list-item" *ngFor="let list of contactTypeList">
                                    <h3 class="middle" matLine> <mat-icon class="drag-handle">drag_handle</mat-icon> {{ list.value }} </h3>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    
                        <mat-icon class="left-right-compare">compare_arrows</mat-icon>
                    
                        <div class="list mat-elevation-z4">
                            <mat-toolbar>My Payment Terms</mat-toolbar>
                                <mat-list [sortablejs]="assignContactList" [sortablejsOptions]="groupOptions">
                                <mat-list-item class="small-list-item" *ngFor="let list of assignContactList">
                                    <h3 class="middle" matLine> <mat-icon class="drag-handle">drag_handle</mat-icon> {{ list.value }} </h3>
                                </mat-list-item>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="25px" style="margin-top: 15px;margin-bottom: 15px;">
                <button mat-icon-button matTooltip="Add Attribute">Add New Payment Term<mat-icon>add</mat-icon></button>
            </div>

            <div fxLayout="row" fxLayout.gt-sm="row" style="margin-top: 15px;margin-bottom: 15px;">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef>Payment Term Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="condition">
                        <th mat-header-cell *matHeaderCellDef> Condition </th>
                        <td mat-cell *matCellDef="let element"> {{element.condition}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="dueNoDate">
                        <th mat-header-cell *matHeaderCellDef> Due After No of Days </th>
                        <td mat-cell *matCellDef="let element"> {{element.dueNoDate}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="dueDateMonth">
                        <th mat-header-cell *matHeaderCellDef> Due on Fixed Date of Month </th>
                        <td mat-cell *matCellDef="let element"> {{element.dueDateMonth}} </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <th mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header>Action</th>
                        <td class="actions-cell" *matCellDef="let row">
                            <button type="button" mat-icon-button [matMenuTriggerFor]="actionsMenu" (click)="$event.stopPropagation()">
                                <mat-icon>more_horiz</mat-icon>
                            </button>

                            <mat-menu #actionsMenu="matMenu" yPosition="below" xPosition="before">
                                <button mat-menu-item>
                                    <span>Set as Inactive</span>
                                </button>
                                <button mat-menu-item>
                                    <span>Set as Active</span>
                                </button>
                            </mat-menu>
                        </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>


    </div>
</div>
