
<div class="card border space">
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="name">Pricing</div>
    </div>
    <div class="content product-pricing">
        <div fxFlex="100%" fxFlex.gt-sm>
            <div *ngIf="!showCalculator" fxLayout="row" fxLayout.gt-sm="row" fxLayoutAlign="end start" style="margin-top: 15px;margin-bottom: 15px;">
                <button mat-raised-button color="warn" (click)="showPriceCalculator()">USE PRICE CALCULATOR</button>
            </div>

            <div *ngIf="!showCalculator">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
                    <div style='display: flex;align-items: center;font-size: 13px;'>
                        <label>Cost</label>
                    </div>

                    <mat-form-field fxFlex.gt-sm>
                        <mat-label>Purchase UOM</mat-label>
                        <mat-select [(ngModel)] = "formData.location" name="formData.location">
                            <mat-option *ngFor="let l of unitList" [value]="l">
                                {{l}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field fxFlex.gt-sm>
                        <mat-label>Sales UOM</mat-label>
                        <mat-select [(ngModel)] = "formData.location" name="formData.location">
                            <mat-option *ngFor="let u of unitList" [value]="u">
                                {{u}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
                    <div style='display: flex;align-items: center;font-size: 13px;'>
                        <label>Sales Price</label>
                    </div>
                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Price In GPB" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Rate" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Price In USD" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Rate" type="text">
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayoutAlign="end end" class="end-msg">
                    <p fxFlex.gt-sm>Different Cost options will be displayed as multiple Currencies selected.</p>
                    <p fxFlex.gt-sm>Currency Convertion will be shown if selected at Accounting/Currency Setting .</p>
                    <p fxFlex.gt-sm>To insert Multi Currency manual Prices without convertion, avoid inserting Rate.</p>
                </div>
            </div>

            <div *ngIf="showCalculator">
                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="32px">
                    <div style='display: flex;align-items: center;font-size: 13px;'>
                        <label>Cost</label>
                    </div>

                    <mat-form-field fxFlex.gt-sm>
                        <mat-label>Purchase UOM</mat-label>
                        <mat-select [(ngModel)] = "formData.location" name="formData.location">
                            <mat-option *ngFor="let l of unitList" [value]="l">
                                {{l}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field fxFlex.gt-sm>
                        <mat-label>Sales UOM</mat-label>
                        <mat-select [(ngModel)] = "formData.location" name="formData.location">
                            <mat-option *ngFor="let u of unitList" [value]="u">
                                {{u}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <mat-label>Cost Per Sales UOM</mat-label>
                        <mat-select [(ngModel)] = "formData.location" name="formData.location">
                            <mat-option *ngFor="let u of unitList" [value]="u">
                                {{u}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="15px">
                    <mat-checkbox [checked]="false"></mat-checkbox>
                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="MarkUp Percentage" type="text">
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Markup Value" type="text">
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Calculated Price" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Confirm Price" type="text">
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="15px">
                    <mat-checkbox [checked]="false"></mat-checkbox>
                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Margin Percentage" type="text">
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Cost Margin Ratio" type="text">
                        <span matSuffix>%</span>
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Calculated Price" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex.gt-sm>
                        <input matInput placeholder="Confirm Price" type="text">
                    </mat-form-field>
                </div>

                <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="15px">
                    <mat-form-field fxFlex='16%' fxFlex.xs>
                        <input matInput placeholder="Price in GBP" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex='16%' fxFlex.xs>
                        <input matInput placeholder="Rate" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex='16%' fxFlex.xs>
                        <input matInput placeholder="Connfirm Price in GBP" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex='16%' fxFlex.xs>
                        <input matInput placeholder="Price in USD" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex='16%' fxFlex.xs>
                        <input matInput placeholder="Rate" type="text">
                    </mat-form-field>

                    <mat-form-field fxFlex='16%' fxFlex.xs>
                        <input matInput placeholder="Connfirm Price in USD" type="text">
                    </mat-form-field>
                </div>
            </div>

            <div fxLayout="row" fxLayout.gt-sm="row" style="margin-top: 15px;margin-bottom: 15px;">
                <button mat-raised-button color="primary">SET PRICE FOR ALT UOM & VARIANTS</button>
            </div>
            <div fxLayout="row" fxLayout.gt-sm="row" style="margin-top: 15px;margin-bottom: 15px;">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef> Product </th>
                        <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> Product Code </th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="note">
                        <th mat-header-cell *matHeaderCellDef> Product Description </th>
                        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="uom">
                        <th mat-header-cell *matHeaderCellDef> UOM </th>
                        <td mat-cell *matCellDef="let element"> {{element.uom}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ucost">
                        <th mat-header-cell *matHeaderCellDef> Cost </th>
                        <td mat-cell *matCellDef="let element"> {{element.ucost}} </td>
                    </ng-container>

                    <ng-container matColumnDef="tcost">
                        <th mat-header-cell *matHeaderCellDef> Price Group 1 </th>
                        <td mat-cell *matCellDef="let element"> {{element.tcost}} </td>
                    </ng-container>

                    <ng-container matColumnDef="details">
                        <th mat-header-cell *matHeaderCellDef> Price Group 2 </th>
                        <td mat-cell *matCellDef="let element"> {{element.details}} </td>
                    </ng-container>

                    <ng-container matColumnDef="priceRule">
                        <th mat-header-cell *matHeaderCellDef> Price Rule </th>
                        <td mat-cell *matCellDef="let element"> {{element.priceRule}} </td>
                    </ng-container>

                    <ng-container matColumnDef="startDate">
                        <th mat-header-cell *matHeaderCellDef> Start Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                    </ng-container>

                    <ng-container matColumnDef="endDate">
                        <th mat-header-cell *matHeaderCellDef> End Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.endDate}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>