<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="form" >
    <mat-dialog-content class="mat-typography">
        <mat-form-field>
            <input matInput
                placeholder="Location Name" 
                formControlName="location_group_name">
        </mat-form-field>

        <mat-form-field>
            <input matInput
                    placeholder="Description"
                    formControlName="description">
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Location Type"  formControlName="location_type_id">
                <mat-option *ngFor="let l of locationTypes" [value]="l.id">
                {{l.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field>
            <input matInput
                    placeholder="Location Short Name"
                    formControlName="short_name">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close="no">CANCEL</button>
        <button mat-raised-button color="primary" cdkFocusInitial [disabled]="form.invalid" (click)="saveData()">{{btnTitle}}</button>
    </mat-dialog-actions>
</form>