<h2 mat-dialog-title>Contact Group Management</h2>

<mat-dialog-content class="mat-typography">
    <div class="list-container" fxLayout="column" fxLayout.gt-sm="row wrap" fxLayoutAlign="center center">
        <div class="list mat-elevation-z4">
            <mat-toolbar>Contact Type</mat-toolbar>
            <mat-list [sortablejs]="contactTypeList" [sortablejsOptions]="groupOptions">
                <mat-list-item class="small-list-item" *ngFor="let list of contactTypeList">
                    <h3 class="middle" matLine> <mat-icon class="drag-handle">drag_handle</mat-icon> {{ list.value }} </h3>
                </mat-list-item>
            </mat-list>
        </div>
  
        <mat-icon class="left-right-compare">compare_arrows</mat-icon>
  
        <div class="list mat-elevation-z4">
            <mat-toolbar>Assign Group</mat-toolbar>
                <mat-list [sortablejs]="assignContactList" [sortablejsOptions]="groupOptions">
                <mat-list-item class="small-list-item" *ngFor="let list of assignContactList">
                    <h3 class="middle" matLine> <mat-icon class="drag-handle">drag_handle</mat-icon> {{ list.value }} </h3>
                </mat-list-item>
            </mat-list>
        </div>
    </div>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>CANCEL</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="save()">{{btnTitle}}</button>
</mat-dialog-actions>