<div class="page components">
	<elastic-page-header [height]="'176px'" background="url(/assets/img/demo/headers/pattern-3.png)" [reverse]="true"></elastic-page-header>
	
	<div class="container">
		<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="24px">
		<div class="sticky-menu" fxFlex #sticky fxHide fxShow.gt-sm>
			<mat-list class="list">
				<h3 matSubheader>Settings</h3>
				<mat-list-item class="list-item" (click)="scrollTo(card)" matRipple>
					<h4 matLine>User</h4>
				</mat-list-item>
			</mat-list> 
		</div>

			<div fxLayout="column" fxFlex="100%" fxFlex.gt-sm="85%">
				<elastic-breadcrumbs [currentPage]="'components'" [header]="'primary'"></elastic-breadcrumbs>
				<div fxLayout="column" fxLayoutGap="24px">
					<div #card><elastic-components-card></elastic-components-card></div>
				</div>
			</div>
		</div>
	</div>
</div>
  