<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form" class="mat-typography">
    <label *ngIf="showErrMsg" class="text-danger">{{errMsg}}</label>
    <mat-form-field>
        <mat-label>Contat Type</mat-label>
        <input matInput formControlName="contact_type_name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput formControlName="description">
    </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close="no">CANCEL</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="saveData()">{{btnTitle}}</button>
</mat-dialog-actions>