<h2 mat-dialog-title>{{title}}</h2>


<div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px" class="border">
    <label fxFlex>Assign User Group</label>
    <div fxFlex>
        <ng-multiselect-dropdown
            [placeholder]="'Select user group'"
            [data]="userGroup"
            [(ngModel)]="selectedItems"
            [settings]="dropdownSettings"
            (onSelect)="onItemSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            >
        </ng-multiselect-dropdown>
    </div>
</div>


<form [formGroup]="form" >
    <mat-dialog-content class="mat-typography">
        <label *ngIf="showErrMsg" class="text-danger">{{errMsg}}</label>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="First Name" formControlName="first_name">
            </mat-form-field>

            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Last Name" formControlName="last_name">
            </mat-form-field>
        </div>


        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="User Name"  formControlName="user_name">
            </mat-form-field>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Short Description"  formControlName="note">
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <mat-select placeholder="Location Type"  formControlName="location_type_id">
                    <mat-option *ngFor="let l of locationTypes" [value]="l.location_type_id">
                        {{l.location_type_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <mat-select placeholder="Location Group" formControlName="location_group_id">
                    <mat-option *ngFor="let l of locationGroup" [value]="l.location_group_id">
                        {{l.location_group_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Mobile Number" formControlName="mobile">
            </mat-form-field>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Create User ID" formControlName="user_id">
                </mat-form-field>
                <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Create Password"  formControlName="password">
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm="100%">
                <mat-select placeholder="Assign User Group"  formControlName="user_group" multiple>
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let l of userGroup" [value]="l.user_group_id">
                        {{l.user_group_name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close='no'>CANCEL</button>
        <button mat-raised-button color="primary" cdkFocusInitial [disabled]="form.invalid" (click)="saveData()">{{btnTitle}}</button>
    </mat-dialog-actions>
</form>