<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="form" >
    <mat-dialog-content class="mat-typography">
        <label *ngIf="showErrMsg" class="text-danger">{{errMsg}}</label>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="First Name" formControlName="first_name">
            </mat-form-field>

            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Last Name" formControlName="last_name">
            </mat-form-field>
        </div>


        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="User Name"  formControlName="user_name">
            </mat-form-field>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Short Description"  formControlName="note">
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <mat-select placeholder="Location Type"  formControlName="location_type_id">
                    <mat-option *ngFor="let l of locationTypes" [value]="l.id">
                    {{l.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <mat-select placeholder="Location Group"  formControlName="location_type_name">
                    <mat-option *ngFor="let l of locationGroup" [value]="l.id">
                    {{l.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Mobile Number" formControlName="mobile">
            </mat-form-field>
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Create User ID" formControlName="user_id">
                </mat-form-field>
                <mat-form-field fxFlex="100%" fxFlex.gt-sm>
                <input matInput placeholder="Create Password"  formControlName="password">
            </mat-form-field>
        </div>

        <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="24px">
            <mat-form-field fxFlex="100%" fxFlex.gt-sm="100%">
                <mat-select placeholder="Assign User Group"  formControlName="user_group" multiple>
                    <mat-option *ngFor="let l of userGroup" [value]="l.id">
                    {{l.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-raised-button mat-dialog-close='no'>CANCEL</button>
        <button mat-raised-button color="primary" cdkFocusInitial [disabled]="form.invalid" (click)="save()">{{btnTitle}}</button>
    </mat-dialog-actions>
</form>