
<div class="card border space" style="display: none;">
    <div class="content move-inventory">
        <div fxFlex="100%">
            <div fxLayout="row wrap" fxLayoutGap="25px" style="margin-bottom: 15px;">
                <button mat-icon-button matTooltip="Add Attribute">Add Rounding Off<mat-icon>add</mat-icon></button>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="25px">
                <mat-form-field fxFlex.xs="calc(50%-25px)" fxFlex="calc(50%-25px)">
                    <input matInput placeholder="Rounding Off Name" type="text">
                </mat-form-field>

                <mat-form-field fxFlex.xs="calc(50%-25px)" fxFlex="calc(50%-25px)">
                    <input matInput placeholder="Rounding Precision" type="text">
                </mat-form-field>

                <mat-form-field fxFlex.xs="calc(50%-25px)" fxFlex="calc(50%-25px)">
                    <mat-label>Rounding Strategy</mat-label>
                    <mat-select [(ngModel)] = "formData.strategy" name="formData.strategy">
                        <mat-option *ngFor="let l of unitList" [value]="l">
                            {{l}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex.xs="calc(50%-25px)" fxFlex="calc(50%-25px)">
                    <mat-label>Rounding Method</mat-label>
                    <mat-select [(ngModel)] = "formData.method" name="formData.method">
                        <mat-option *ngFor="let l of unitList" [value]="l">
                            {{l}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field fxFlex.xs="calc(50%-25px)" fxFlex="calc(50%-25px)">
                    <input matInput placeholder="Rounding Account" type="text">
                </mat-form-field>

                <mat-form-field fxFlex.xs="calc(50%-25px)" fxFlex="calc(50%-25px)">
                    <mat-label>Select Adjusment Account</mat-label>
                    <mat-select [(ngModel)] = "formData.adjusment_account" name="formData.adjusment_account">
                        <mat-option *ngFor="let l of unitList" [value]="l">
                            {{l}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <span class="cdk-visually-hidden"></span>
            </div>

            <div fxLayout="row wrap" fxLayoutGap="25px" style="margin-top: 15px;margin-bottom: 15px;">
                <button mat-icon-button matTooltip="Add Attribute">Add Rounding Off<mat-icon>add</mat-icon></button>
            </div>
            <div fxLayout="row" fxLayout.gt-sm="row" style="margin-top: 15px;margin-bottom: 15px;">
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

                    <ng-container matColumnDef="product">
                        <th mat-header-cell *matHeaderCellDef> Rounding Off Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="code">
                        <th mat-header-cell *matHeaderCellDef> Rounding Precision </th>
                        <td mat-cell *matCellDef="let element"> {{element.code}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="note">
                        <th mat-header-cell *matHeaderCellDef> Rounding Strategy </th>
                        <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                    </ng-container>
                  
                    <ng-container matColumnDef="uom">
                        <th mat-header-cell *matHeaderCellDef> Rounding Method </th>
                        <td mat-cell *matCellDef="let element"> {{element.uom}} </td>
                    </ng-container>

                    <ng-container matColumnDef="ucost">
                        <th mat-header-cell *matHeaderCellDef> Rounding Account </th>
                        <td mat-cell *matCellDef="let element"> {{element.ucost}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="elastic">
    <elastic-list name="" [columns]="columns" (filterChange)="onFilterChange($event)">
        <div class="extra-actions" fxLayout="row" fxLayoutAlign="start baseline" fxLayoutGap="0px">
			<div fxFlex="30%">
				<button mat-raised-button (click)="editUser(formData)" color="primary">Add Rounding Off</button>
			</div>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort>
			<ng-container class="checkbox1" *ngFor="let column of columns">
				<ng-container *ngIf="column.isModelProperty" [matColumnDef]="column.property">
					<mat-header-cell *matHeaderCellDef mat-sort-header [fxFlex]="column.width"> {{ column.name }}</mat-header-cell>
					<mat-cell *matCellDef="let row" [fxFlex]="column.width"> {{ row[column.property] }}</mat-cell>
				</ng-container>
			</ng-container>

			<ng-container matColumnDef="actions">
				<mat-header-cell class="actions-cell" *matHeaderCellDef mat-sort-header fxFlex="8%">Action</mat-header-cell>
				<mat-cell class="actions-cell" *matCellDef="let row">
					<button  mat-icon-button color="primary" (click)="editUser(row)"><mat-icon>edit</mat-icon></button>
                    <button  mat-icon-button color="primary" (click)="deleteUser(row)"><mat-icon>delete</mat-icon></button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="visibleColumns; sticky: true"></mat-header-row>
			<mat-row *matRowDef="let row; columns: visibleColumns;"></mat-row>
		</mat-table>

		<mat-paginator class="paginator" 
			[pageIndex]="0"
			[pageSizeOptions]="[5, 10, 25, 100]"
			[length]="resultsLength" 
			[pageSize]="pageSize">
		</mat-paginator>
	</elastic-list>
</div>