@import "../../../../styles/_var.scss";

:host {
  display: block;
  background: #fff url('/assets/img/demo/backgrounds/pattern-1.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.email-verify {
    padding: 7rem;
    padding-top: 3rem;
    .lblSuccess{
        font-size: 25px;
        font-weight: bold;
    }
}

.email-verify2 {
    background: white;
    width: 37vw;

    .header {
		background: $layout-alpha__background-color__sidenav-item;
		padding: 24px;

		.logo {
			height: 25px;
			width: auto;
		}
    }
    .email-verify {
		padding: 1rem 2rem 3rem 2rem;
		.lblSuccess{
			font-size: 20px;
			font-weight: bold;
		}
  	}
}
